annotated-types
anyio
certifi
cffi
charset-normalizer
colorama
cryptography
distro
h11
httpcore
httpx
idna
jiter
numpy
opencv-python
openai
pandas
pdfminer.six
pdfplumber
pillow
pycparser
pydantic
pydantic_core
PyMuPDF
pytesseract
pypdfium2
python-dateutil
python-dotenv
scipy
six
sniffio
tqdm
typing-inspection
typing_extensions
tzdata
